<div class="o-layout__item u-width-1/4">
  <article class="c-tile">
    <div class="c-tile__content">
      <%= image_tag("/assets/#{show['url']}", :alt => show['title']) %>
    </div>
    <div class="c-tile__content rating">
      <% if show['rating'].nil? || show['rating'] < 1  %>
        <p>be the first to rate!</p>
      <% else %>
        <% (1..5).each do |i| %>
          <% img = i <= show['rating'] ? "/assets/filledStar.png" : "/assets/emptyStar.png" %>
          <%= image_tag(img, :alt => '*', :width => '18px', :id => "#{show['title']}-rating-#{i}") %>
        <% end %>
      <% end %>
    </div>
  </article>
</div>
