<div class="o-layout__item u-width-1/4">
  <article class="c-tile">
    <div class="c-tile__content">
      <%= image_tag("/assets/#{show['url']}", :alt => show['title']) %>
    </div>
    <div class="c-tile__content rating">
      <% rating = 3 %>
      <% (1..rating).each do |i| %>
        <%= image_tag("/assets/filledStar.png", :alt => '*', :width => '18px') %>
      <% end %>
      <% (1..(5 - rating)).each do |i| %>
        <%= image_tag("/assets/emptyStar.png", :alt => '-', :width => '18px') %>
      <% end %>
    </div>
  </article>
</div>
