<div class="o-layout">
  <%= render partial: 'masthead', locals: { title: 'Shows' } %>

  <div class="o-layout__item u-width-1">
    <% @shows.each do |show| %>
      <%= render partial: 'tile', locals: { show: show } %>
    <% end %>
  </div>
</div>

<div class="footer">
  <%= link_to 'Manage', shows_manage_path %>
</div>
