<div class="o-layout">
  <%= render partial: 'masthead', locals: {
    title: 'Add Show',
    links: [
      { name: 'Home', path: 'index' },
      { name: 'Manage', path: 'manage' },
    ]
  } %>

  <div class="o-layout__item u-width-1">
    <%= render 'form' %>
  </div>
</div>
